**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/.DS_Store
**/Thumbs.db
**/*.user
**/*.suo
**/appsettings.Local.json
**/appsettings.*.local*
**/credentials.json
**/*.db
**/*.db-shm
**/*.db-wal
**/wwwroot/uploads/*
**/node_modules
Dockerfile
.dockerignore
.github/
